# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/

# Django
*.log
*.pot
*.pyc
db.sqlite3

# Virtualenv
.env
.venv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store
